#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 30px;
     align-items: center;
    justify-content: space-between;

}


.photograph-img img {
    height: 200px;
    width: 200px;
    object-fit: cover;

    border-radius: 50%;
}




.photograph-info  article h2 {
    color: #D3573C;
    font-size: 64px;
    margin-bottom: 0;

}

.photograph-info  h3 {
    color: #901C1C;
    font-size: 24px;
    margin: 0;
    padding-top: 16px;

}


.photograph-info  article p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding-top: 19px;

}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}


/* section LightBox */




#photograph-gallery {
    align-items: center;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap:60px ;
    column-gap: 50px;
    margin: 0 100px;
}

#photograph-gallery .card {
  
    margin:auto;
    padding: auto;
}


#photograph-gallery .card figure{
    width: 350px ;
    height: 300px;
    margin: 0;
    padding: 0;
}

#photograph-gallery .card figure figcaption {
    display: flex;
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
    justify-content: space-between;
    
    
    
}

#photograph-gallery .card figure figcaption  {
    width: 350px;
    height: 30px;
    
    display: flex;
    align-items: center;
    
    
    
}

#photograph-gallery .card figure figcaption img {
    justify-items: center;
    width: 17.5px;
    margin: 3px;
}

#photograph-gallery .card figure figcaption p {
    display: flex;
    align-items: center;
    
    
}
#photograph-gallery .card img {
    width: 100% ;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;


}
#photograph-gallery .card video {
    width: 100% ;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
/* lightbox */
#lightbox {
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    top: 0px;
    left: 0px;
    display: none; 
}

#lightbox.show {
           display: flex;
      align-items: center;  
      justify-content: center;    
}




#lightbox .content  {
  
display: flex;   
}

#lightbox .content button{
  border: none; 
  background-color: #E5E5E5;
  width: auto;  
}

#lightbox .content .next{

    margin-bottom: 374px;
  }

#lightbox .content .cross-right{

    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
   
    width: auto;
    height: auto;
  }

#lightbox .content button img{
  background-color: #E5E5E5;  
}

#lightbox .content .picture  {
   
   
     width: 1050px;
     height: 800px;
     border-radius: 5px;      
 }

#lightbox .content .picture img {

    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
       
}

#lightbox .content .picture  img .title  {

    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    
 }

#lightbox .content .picture video  {

        width: 100%;
       height: 100%;
       border-radius: 5px;
       object-fit: contain;
       
}

#lightbox .content .picture .title  {

   color: #901C1C;
   font-size: 24px;
   font-weight: 400;
   
}


#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.699);
}

#nameModal h2{
    margin: 0;
    padding: 0;
    font-size: 64px;
}



.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    max-width: 600px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: none;
    background-color: #901c1c00;
    transform: translateX(-30px);
}

.modal header button img {
    width: 42px;
    height: 42px;
    position: absolute;
    margin-top: -40px;
   
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
   
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border-radius: 5px;
}




.text-control-message {
    height: 170px;
}

.contained p {
    font-size: 10px;
    margin: 5px;
    padding: 2px;
}

.contained  {
        padding-top: 40px;
}

.infoPhotographerDisplay {
    display: flex;
    justify-content: space-around;
    width: 376px;
    height: 89px;
    background-color: #DB8876;
    border-radius: 5px;
    font-size: 24px;
    position: fixed;
    bottom: -15px;
    right: 30px;
}

p .likesContainer {
    width: auto;
    height: auto;
    font-size: 24px;
    font-weight: 500;
    margin-right: 6px;
}

.likesInfoPhotographer {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    
    
}

.logoLikes {
    width: 17.5px;
    height: 18.35px;
}

.custom-select {
    
    display: inline-flex;
    margin-left: 30px;
    position: relative;
    font-size: 18px;
    margin: 20px 20px 30px 30px;
    font-weight: 700;

}

.nav-select {
    font-weight: 700;
    font-size: 18px;
margin-left: 100px;
}


.custom-select select {
    
    display: block;
    width: 170px;
    min-height: 69px;
    outline: none;
    background: #901C1C;
    border-radius: 5px;
    color: #fff;
    padding: 0 20px 0 10px;
    margin-top: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}
  
.selector-options {
    
    padding: 5px 0;
    margin-left: -3px;
    background: #901C1C;
    color: #fff;
    border-radius: 4px;
    z-index: 1;
    width: 171px;
    position: absolute;
    left: 2%;
    top: -20%;
}
 #nav-option-select {
    
    background-image : url(/assets/icons/Abotton.svg) ;
    background-repeat: no-repeat;
  
    background-position: right 10% bottom 55%;
    appearance: none;

    

} 


.custom-select .selector-options li {
    
    position: relative;
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    border-bottom: 1px solid  ;
    border-width: 1px;
    margin-left: 10px ;
   
}



.custom-select .selector-options li:hover {
    
    border-color:  #924949;
    background: url(/assets/icons/Atop.svg) no-repeat;
    background-position: right  bottom 55%;
  } 